#img_spring {
    width: 100%;
    height: 400px;
    background-image: url("../img/spring/img_season1.jpg");
    background-size: cover;
    filter: saturate(80%);
    display: flex;
    align-items: flex-end;
    position: relative;
}

#img_spring p {
    font-size: 5rem;
    color: white;
    text-shadow: 5px 6px 2px gray;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#seasonList ul li {
    display: inline-block;
    font-size: 1.2rem;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;

}

#seasonList a{
    color: white;
}

#seasonList a:hover {
    font-size: 1.5rem;
}

#seasonList ul {
    background-color: rgba(0, 0, 0, 0.4);
}

#seasonList {
    flex: 1;
    text-align: center;
}

#springList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
    margin: 10px;
    grid-template-areas:
    "s1 s1 s1"
    "s2 s3 s3"
    "s2 s4 s5"
    "s6 s7 s8"
    "s9 s9 s9";
}

.springImg img {
    width: 100%;
    height: 100%;
    
}

.springImg:nth-child(1) {
    grid-area: s1;
}

.springImg:nth-child(2) {
    grid-area: s2;
}


.springImg:nth-child(3) {
    grid-area: s3;
}

.springImg:nth-child(4) {
    grid-area: s4;
}

.springImg:nth-child(5) {
    grid-area: s5;
}

.springImg:nth-child(6) {
    grid-area: s6;
}

.springImg:nth-child(7) {
    grid-area: s7;
}

.springImg:nth-child(8) {
    grid-area: s8;
}

.springImg:nth-child(9) {
    grid-area: s9;
}

/* .springImg:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.springImg:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/4;
} */


@media screen and (max-width: 768px) {
    #springList {
        display: block;
    }
}