@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header > h1 {
    font-family: "Jua";
}

#MainImg {
    width: 102%;
    height: 600px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    position: relative;
}

* {
    padding: 0px;
    margin: 0px;
}

#logo {
    width: 40px;

}

#onImgText {
    font-size: 50px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    /* left: 100px;
    top: 200px; */
    bottom: 50px;
    left: 70px; 
}

header {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}
header > nav > ul {
    list-style: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0px;
    text-align: center;
}

/*
test
*/

header > nav > ul > li {
    display: inline-block;
    width: 200px;
    height: 50px;
    font-weight: 600px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}